claude_cage {

    -- user to run claude as
    user = "claude",

    -- source directory under current directory to allow reading from
    -- if not provided, source must be provided as a command-line argument
    source = "my-directory",

    -- sync directory for `unison` to sync source with
    -- if not provided, and syncprepend will be used
    sync = "claude-my-directory",

    -- if provided and sync is empty, sync directory will be named
    -- the same as the source directory with the provided string
    -- prepended, e.g. claude-my-directory
    -- if not provided, defaults to "claude-"
    syncprepend = "claude-",

    -- files/folders under "source" that claude should not have access to
    -- and should not be synced
    exclude = { "target", "src/main/resources/application-*.properties" },

    -- mounted directory name that will be created under the user's home
    -- directory
    mounted = "my-directory"
}

